h1{color: pink;}
body{background-color: grey}
p{font-family: verdana}
h2{color: red}
h2{background-color: blue}
h2{font-style: italic;}
h3{background-color: black}
h3{color: white}
h3{font-style: oblique;}